@import "./partials/variables";

@import "./partials/reset";


.cuerpo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(90deg, rgb(92, 207, 92), rgb(163, 247, 151));
}

.header {
    margin: 0%;
    padding: 0%;
    height: auto;
    width: $ancho;
    background-color:  map-get($map: $color, $key: color-fondo);
    display: flexbox;
    
}

.container {
    display: flexbox;
    color:  map-get($map: $color, $key: color-titulos);
    margin: 0%;
    padding: 0%;
    font-size: 300%;
    width: $ancho;
    height: 10%;
    border: none; 
    text-align: center;
    
    .cont {
        width: 100%;
        margin: 0%;
        padding: 0%;

        .row {
            .animate__animated {
                margin: 0%;
                margin-top: 10%;
                padding: 0%;   
                height: 10%;
                text-align: center;
                width: $ancho;
                display: flexbox;
            }
            .logo{ 
               margin: 0%;
               margin-top: 5%;
               padding: 0%;
               grid-row: auto;
               height: 150px;
               width: auto;
               display: flexbox;
                  }
                  .logo:hover {
                    transform: scale(1.1);
                  }
              } 
              .nave {
                width: $ancho;
                height: $alto;
                display: flexbox;
                margin: 0%;
                padding: 0%;
            
                .lista1 {
                    color: $color-titulos;
                    margin: 0%;
                    padding: 0%;
                    height: auto;
                    text-decoration: none;
                    font-size: large;
                    display: flexbox;
                    text-align: center;
                    margin-top: 0%;
                    margin-bottom: 0%;
                    
                    
                   
                &:hover{
                        background-color: rgb(159, 247, 159);
                        border-radius: 10px;
                        
                    }
                &:before{
                        content: "⚽";
                    }
                }
                
            }   
    }
   
}


.lista2 {
        color:  map-get($map: $color, $key: color-titulos);
        margin: 0%;
        padding: 0%;
        height: auto;
        text-align: center;
        display: flexbox;
        
   }
   


#textobienvenida {
    width: $ancho;
    height: 5%;
    display: flexbox;
    margin: 0%;
    padding: 0%;
    justify-content: center;

   .card-group{
         .tarpro{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 0%;
            position: relative;
          
         }
   }
  .card-body {
        background-color:  rgb(151, 238, 140);
        position: relative;
       

        .card-title {
            background-color:rgb(151, 238, 140);
        }
    }
    #tarjetas {
        margin: 1%;
        overflow: auto;
        transition: all .5s;
        position: relative;
        margin-top: 0%;

        .card-body:hover {
            transform: scale(1.05);
        }
    }

    
    .paginas {
            color:  map-get($map: $color, $key: color-titulos);
            margin: 0%;
            height: auto;
            text-align: center;
            width: $ancho;
            display: flexbox;
            overflow: auto;
        } 
     
    
    .bienvenidos {
        margin-top: 0%;
        height: auto;
        padding: 0%;
        display: flexbox;
        width: 90%;
        text-align: center;
        font-size: larger;
    }
    
     .iniciofotos {
         width: 80%;
         margin-left: 10%;
        
         
        
 }
   
    .lista3 { 
        color:  map-get($map: $color, $key: color-titulos);
        margin: 1%;
        padding: 0%;
        text-align: center;
        background-color: transparent;
        width: 100%;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-weight: 600;

        &:hover {
            background-color: #69eb63;
            border-radius: 10px;
            
        }
    }
 
    .servicios {
        display: grid;
        grid-template-areas:
        "servicios1 servicios2 eldorado1";
        grid-template-columns: 30% 30% 40%;
        margin: 1%;
        height: auto;
        width: $ancho; 
        
           
       }
       .servicios3 {
           display: grid;
           margin-bottom: 1%;
           width: 100%;
           height: auto;
           padding: 0%;
       }
       

       .card-group{
       
        .card {
            margin-top: 10%;
            transition: 1s;
            
        }
        .card:hover {
            transform: scale(1.1);
           
       
           
    
        }
    } 
    

      }
   
    
    
     p {
        margin: 1%;
        height: 1px;
        padding: 0%;
        font-size: medium;
        display: inline-flex;
        font-size: medium;

        &::selection{
            background-color: $color-fondo;
        }
       
    
    }
   



.contacto {
    margin: 1%;
    height: 1%;
    padding: auto;
    text-align: center;
    color: $color-titulos;
}
.formulario {
    margin: 3%;
    padding: 2%;
    height: 2%;
    background-color: $color-fondo;
    border-radius: 5%;

    input:valid, .formu textarea:valid{
        background-color: $color-fondo;
    }
         
}


.row {
    .col {
        .carrusel {
            margin: 10%;
            margin-top: 0%;
        }
        
    }
}
.mapa {
    width: 100%;
    height: auto;
    padding: 0%;
    display: flexbox;
    text-align: center;
    

}
.mapa:hover {
    transform: scale(1.05);
    margin-top: 5%;
}

#menu, #menu-check {
    display: none
}






@import "./partials/queries";