@media (min-width:851px) and (max-width: 1100px){
    .lista1 { 
       width: 65%;
       width: 50%;
       margin: 1%;
   
    }
    .productos{
       grid-template-columns: repeat(2, 2fr);
       font-size: small;
   
    }
   
    .iniciofotos, .canchainicio1 {
       margin: 5%;
       display: grid;
       grid-template-columns: repeat(2, 2fr);
    }
    .eventofotos {
       margin: 10%;
   
   }
}
   
@media (min-width:450px) and (max-width: 850px){
    .lista1 { 
        width: 100%;
        margin: 1%;

     }
    .p { 
        .Bienvenidos, {
            margin: 20%;
            padding: 10%;
            padding: 5%;
       }
    } 
    .productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: small;
    }
    
}

@media (min-width:300px) and (max-width: 499px){
    .lista1 { 
        width: 100%;
        margin: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

    }

    .p{ 
        .Bienvenidos, {
            margin: 20%;
            padding: 10%;
   
       }
    }
    
    .productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
   

}

    